<div class="room-card">
  <div class="room-content">
      <img src="{{room.image}}">
      <div class="room-desc">
          <h2>{{room.name}}</h2>
          <p>{{room.description}}</p>
          <p>Score: {{room.score}}</p>
          <h3>{{room.price}} EUR / night</h3>
      </div>
  </div>
  <div class="room-btns pt-3">
      <button class="btn btn-large btn-danger" (click)="onDelete()">DELETE</button>
      <button class="btn btn-large btn-warning" (click)="onEdit()">CHANGE</button>
  </div>
</div>
