.room {
  padding: 5px;
}

.room-card {
  border: 1px solid lightgray;
  padding: 20px;
}

.room-content {
  display: flex;

}

.room-btns {
  display: flex;
  justify-content: space-evenly;
}

.room-desc {
  margin-left: 10px;
}

img {
  width: 200px;
  height: 200px;
}

.room-content {
  height: 100%;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
